<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURAPARFUM - Sumergete a la mejor gamma de perfumes del Paraguay.</title>
    <link rel="shortcut icon" href="/static/images/logo/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/detalle.css">

</head>
<body>
    <div class="volver">
        <a href="/">Volver al Inicio</a>
    </div>
    <main>
        <div class="detalle-perfume">
            <div class="image">
                <img src="{{ perfume.imagen }}" alt="{{ perfume.nombre }}">
            </div>
            <div class="info">
                <h1>{{ perfume.nombre }}</h1>
                <p>{{ perfume.info }}</p>
                <p><strong>Precio: </strong>{{ perfume.precio }}</p>
                <p><strong>Medidas: </strong>100ml</p>
                <label>
                    <span>Cantidad</span>
                    <input type="number" min="1" max="10" value="1">
                </label>
                <button>Comprar</button>
            </div>
        </div>
    </main>
</body>
</html>
