<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AURAPARFUM - Sumergete a la mejor gamma de perfumes del Paraguay.</title>
    <link rel="shortcut icon" href="/static/images/logo/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="volver">
        <a href="/">Volver al Inicio</a>
    </div>
    <main>
        <div class="form-container">
            <form>
                <h2>Iniciar Sesión</h2>
                <label>
                    <span>Correo Electronico</span>
                    <input type="text" placeholder="Correo Electronico"/>
                </label>
                <label>
                    <span>Contraseña</span>
                    <input type="password" placeholder="Contraseña"/>
                </label>
                <input type="submit" value="Iniciar Sesión">
                <p>or</p>
                <a href="/Register">Register?</a>
            </form>
        </div>
    </main>
</body>
</html>